@import "tailwindcss";

@theme {
  --color-background: #F0E1E1;
  --color-foreground: #000000;
  --color-primary: #B39EB5;
  --color-secondary: #ADEBB3;

  --font-sans: var(--font-poppins), sans-serif;

  --text-p: 16px;
  --text-h1: 36px;
  --text-h2: 32px;
  --text-h3: 24px;
  --text-h4: 20px;
  --text-h5: 18px;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 700;

  --radius-none: 0px;
  --radius-sm-custom: 4px;
  --radius-md-custom: 8px;
  --radius-lg-custom: 12px;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-poppins);
}